﻿@model ehpvendingmachine.ClassLibrary.Models.ProductsMachine

@{
    ViewBag.Title = "Products Machine - Reload All";
}

<h2>Products Machine - Reload All</h2>
<h4 class="text-danger">@ViewBag.Error</h4>

<h3>Are you sure you want to full reload this?</h3>
<div>
    <h4>Product Machine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Machine.MachineId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Machine.MachineId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Full" class="btn btn-orange" />
            @Html.ActionLink("Cancel", "Index", null, htmlAttributes: new { @class = "btn btn-orange" })
        </div>
    }
</div>
