﻿@model ehpvendingmachine.ClassLibrary.Models.Change

@{
    ViewBag.Title = "Delete Change";
}

<h2>Delete</h2>
<h4 class="text-danger">@ViewBag.Error</h4>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Change</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Machine.MachineId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Machine.MachineId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantityLimit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantityLimit)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-orange" />
            @Html.ActionLink("Cancel", "Index", null, htmlAttributes: new { @class = "btn btn-orange" })
        </div>
    }
</div>
