﻿@model IEnumerable<ehpvendingmachine.ClassLibrary.Models.ProductsMachine>

@{
    ViewBag.Title = "Products Machines List";
}

<h2>Products Machines List</h2>
<h4 class="text-danger">
    @Html.Raw(Html.Encode(ViewBag.Error).Replace("\n", "<br />"))
</h4>

<p>
    @if (User.IsInRole("ProductsMachine Create"))
    {
        @Html.ActionLink("Create New", "Create", null, htmlAttributes: new { @class = "btn btn-orange" })
    }
</p>

@using (Html.BeginForm("Index", "ProductsMachines", FormMethod.Get))
{
    <div class="form-horizontal">
        <div class="form-group">
            @Html.Label("Machine", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("searchMachine", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Search" class="btn btn-orange" />
            </div>
        </div>
    </div>
}

<table id="tabela" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Machine.MachineId)
            </th>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValidityDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductQuantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Machine.MachineId)
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.Product.Image))
                    {


                        <img src="@Url.Content(item.Product.Image)" alt="Image" style="width: 40px; height: auto; max-width: 40px; height: auto" />


                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @if (item.ValidityDate.ToShortDateString() == DateTime.Now.ToShortDateString())
                    {
                        <span class="text-warning"> @Html.DisplayFor(modelItem => item.ValidityDate)</span>
                    }
                    else if (item.ValidityDate < DateTime.Now)
                    {
                        <span class="text-danger"> @Html.DisplayFor(modelItem => item.ValidityDate)</span>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.ValidityDate)
                    }

                </td>
                <td>
                    @if (item.ProductQuantity < 6 && item.ProductQuantity > 0)
                    {
                        <span class="text-warning"> @Html.DisplayFor(modelItem => item.ProductQuantity)</span>
                    }
                    else if (item.ProductQuantity == 0)
                    {
                        <span class="text-danger"> @Html.DisplayFor(modelItem => item.ProductQuantity)</span>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.ProductQuantity)
                    }

                </td>
                <td>
                    @if (User.IsInRole("ProductsMachine Delete"))
                    {
                        @Html.ActionLink("Delete", "Delete", new { id = item.ProductsMachineId }, htmlAttributes: new { @class = "btn btn-orange" })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    /* Scripte para ordenar tabelas */
    $(document).ready(function () {
        $('#tabela').DataTable({
            paging: false,
            info: false,
            searching: false,
            columnDefs: [
                { orderable: false, targets: [1] },
                { orderable: false, targets: [5] }
            ]
        });
    });
</script>
