﻿@model IEnumerable<ehpvendingmachine.ClassLibrary.Models.AssignMachine>

@{
    ViewBag.Title = "Assign Machine List";
}

<h2>Assign Machine List</h2>
<h4 class="text-danger">@ViewBag.Error</h4>

<p>
    @if (User.IsInRole("AssignMachines Create"))
    {
        @Html.ActionLink("Create New", "Create", null, htmlAttributes: new { @class = "btn btn-orange" })
    }
</p>
<table id="tabela" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MachineId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MachineId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssignDate)
                </td>
                <td>
                    @if (User.IsInRole("AssignMachines Delete"))
                    {
                        @Html.ActionLink("Delete", "Delete", new { id = item.AssignMachineId }, htmlAttributes: new { @class = "btn btn-orange" })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    /* Scripte para ordenar tabelas */
    $(document).ready(function () {
        $('#tabela').DataTable({
            paging: false,
            info: false,
            searching: false,
            columnDefs: [
                { orderable: false, targets: [3] }
            ]
        });
    });
</script>
