﻿@{
    ViewBag.Title = "Home Page";
}

<div class="container">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="~/Content/Images/vending-machines1.jpg" alt="Machine 1" style="width: 100%;">
            </div>

            <div class="item">
                <img src="~/Content/Images/vending-machines2.jpg" alt="Machine 2" style="width: 100%;">
            </div>

            <div class="item">
                <img src="~/Content/Images/vending-machines3.jpg" alt="Machine 3" style="width: 100%;">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <h2>ehp Vending Machine</h2>
        <p>
            Vending machine is a machine that trades items like snacks, beverages, consumer products automatically after the consumer inserts money into the device.
        </p>

    </div>

</div>

@if (User.IsInRole("Client") && ViewBag.CountRequest == 0)
{
<script>
    function myFunction() {
        
            if (window.confirm('You have not request your machine yet. Place the order in the Account Settings.'))
            {
                window.location.href = '@Url.Action("Index", "Manage")';
            };
           
        }
</script>
}
