﻿@model IEnumerable<ehpvendingmachine.ClassLibrary.Models.Machine>

@{
    ViewBag.Title = "Machines List";
}

<h2>Machines List</h2>
<h4 class="text-danger">@ViewBag.Error</h4>

<p>
    @if (User.IsInRole("Machines Create"))
    {
        @Html.ActionLink("Create New", "Create", null, htmlAttributes: new { @class = "btn btn-orange" })
    }
</p>

@using (Html.BeginForm("Index", "Machines", FormMethod.Get))
{
    <div class="form-horizontal">
        <div class="form-group">
            @Html.Label("Machine", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("searchMachine", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Capacity", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("searchCapacity", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Search" class="btn btn-orange" />
            </div>
        </div>

    </div>
}

<table id="tabela" class="table">
    <thead>
        <tr>
            <th>
                Machine
            </th>
            <th>
                Capacity
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MachineId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Capacity.Name)
                </td>
                <td>
                    @if (User.IsInRole("Machines Edit"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.MachineId }, htmlAttributes: new { @class = "btn btn-orange" })
                    }
                    @if (User.IsInRole("Machines Delete"))
                    {
                        @Html.ActionLink("Delete", "Delete", new { id = item.MachineId }, htmlAttributes: new { @class = "btn btn-orange" })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    /* Scripte para ordenar tabelas */
    $(document).ready(function () {
        $('#tabela').DataTable({
            paging: false,
            info: false,
            searching: false,
            columnDefs: [
                { orderable: false, targets: [2] }
            ]
        });
    });
</script>
