﻿@model ehpvendingmachine.ClassLibrary.Models.DashBoard

@{
    ViewBag.Title = "DashBoard";
}



<div class="containerDashboard">
    <div class="row">

        <a href="@Url.Action("Index", "Machines")">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-success">
                    <div class="panel-heading text-center">
                        MACHINES!
                    </div>

                    <div class="panel-body">
                        <div class="panel-group">
                            <div class="col-xs-6 text-center vertical">
                                <div class="">@Html.DisplayFor(model => model.MachineCounted)</div>
                                <div class="fa-1x">
                                    <i class="fas fa-crosshairs fa-spin"></i>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <i class="fa fa-shopping-cart fa-5x"></i>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </a>

        <!--fim div machine count-->

        <a href="@Url.Action("Index", "AssignMachines")">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        ASSIGNED MACHINES!
                    </div>

                    <div class="panel-body">
                        <div class="panel-group">
                            <div class="col-xs-6 text-center vertical">
                                <div class="">@Html.DisplayFor(model => model.AssignedMachineCounted)</div>
                                <div class="fa-1x">
                                    <i class="fas fa-certificate fa-spin"></i>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <i class="fas fa-edit fa-5x"></i>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </a>
        <!--fim div Assignmachine count-->

        <a href="@Url.Action("Create", "AssignMachines")">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-warning">
                    <div class="panel-heading text-center">
                        REQUESTED MACHINES!
                    </div>

                    <div class="panel-body">
                        <div class="panel-group">
                            <div class="col-xs-6 text-center vertical">
                                <div class="">@Html.DisplayFor(model => model.MachinesRequestedCounted)</div>
                                <div class="fa-1x">
                                    <i class="fas fa-sync fa-spin"></i>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <i class="fas fa-dolly fa-5x"></i>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </a>
        <!--fim div MachinesRequested count-->

        <a href="@Url.Action("Index", "HistoricAlerts")">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading text-center">
                        HISTORIC ALERTS!
                    </div>

                    <div class="panel-body">
                        <div class="panel-group">
                            <div class="col-xs-6 text-center vertical">
                                <div class="">@Html.DisplayFor(model => model.HistorcAlertCounted)</div>
                                <div class="fa-1x">
                                    <i class="fas fa-circle-notch fa-spin"></i>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <i class="fa fa-exclamation-triangle fa-5x"></i>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </a>
        <!--fim div HistorcAlert count-->

    </div><!--fim row-->
    
    
    @if (User.IsInRole("Admin"))
    {
        <hr class="style13" />


        <div class="row">

            <a href="@Url.Action("Index", "ProductsMachines")">
                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-danger">
                        <div class="panel-heading text-center">
                            PRODUCTS MACHINES!
                        </div>

                        <div class="panel-body">
                            <div class="panel-group">
                                <div class="col-xs-6 text-center vertical">
                                    <div class="">@Html.DisplayFor(model => model.ProductMachinesCounted)</div>
                                    <div class="fa-1x">
                                        <i class="fas fa-sync fa-spin"></i>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <i class="fa fa-chart-line fa-5x"></i>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </a>
            <!--fim div ProductMachines count-->

            <a href="@Url.Action("Index", "Products")">

                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading text-center">
                            PRODUCTS!
                        </div>

                        <div class="panel-body">
                            <div class="panel-group">
                                <div class="col-xs-6 text-center vertical">
                                    <div class="">@Html.DisplayFor(model => model.ProductCounted)</div>
                                    <div class="fa-1x">
                                        <i class="fas fa-asterisk fa-spin"></i>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <i class="fas fa-coffee fa-5x"></i>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </a>
            <!--fim divProducts count-->

            <a href="@Url.Action("Index", "Sells")">
                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            SELLS!
                        </div>

                        <div class="panel-body">
                            <div class="panel-group">
                                <div class="col-xs-6 text-center vertical">
                                    <div class="">@Html.DisplayFor(model => model.SellsCounted)</div>
                                    <div class="fa-1x">
                                        <i class="fas fa-life-ring fa-spin"></i>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <i class="fa fa-hand-holding-usd fa-5x"></i>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </a>
            <!--fim divsellsmachine count-->

        </div><!--fim row-->
    }

    <div class="text-info">
        <h5>Last Updated at : @DateTime.Now</h5>
    </div>

</div>


