﻿@model IEnumerable<ehpvendingmachine.ClassLibrary.ViewModels.HistoricAlertsViewModel>

@{
    ViewBag.Title = "Historic Alerts List";
}

<h2>Historic Alerts List</h2>
<h4 class="text-danger">@ViewBag.Error</h4>

@using (Html.BeginForm("Index", "HistoricAlerts", FormMethod.Get))
{
    <div class="form-horizontal">
        <div class="form-group">
            @Html.Label("Machine", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("searchMachine", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Search" class="btn btn-orange" />
            </div>
        </div>

    </div>
}

<table id="tabela" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HistoricAlert.MachineId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlertType.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SetAlert.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HistoricAlert.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HistoricAlert.ResolutionDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HistoricAlert.MachineId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Priority.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AlertType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SetAlert.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HistoricAlert.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HistoricAlert.ResolutionDate)
                </td>
                <td>
                    @if (User.IsInRole("User"))
                    {
                    @* caso ja esteja solucionado o alerta, aparece desativado *@
                        if (item.HistoricAlert.ResolutionDate == null)
                        {
                            @Html.ActionLink("Resolve", "Resolution", new {id = item.HistoricAlert.HistoricAlertId}, htmlAttributes: new {@class = "btn btn-orange"})
                        }
                        else
                        {
                            @Html.ActionLink("Resolve", "Resolution", new {id = item.HistoricAlert.HistoricAlertId}, htmlAttributes: new {@class = "btn btn-orange", disabled = "disabled"})

                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>


<script>
    /* Scripte para ordenar tabelas */
    $(document).ready(function () {
        $('#tabela').DataTable({
            paging: false,
            info: false,
            searching: false,
            columnDefs: [
                { orderable: false, targets: [6] }
            ]
        });
    });
</script>
