﻿@model ehpvendingmachine.ClassLibrary.Models.ProductType

@{
    ViewBag.Title = "Delete Product Type";
}

<h2>Delete</h2>
<div class="text-danger"><h4>@ViewBag.Error</h4></div>

<h3>Are you sure you want to delete this?</h3>

<div>
    <h4>Product Type</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Segment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Segment)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-orange" />
            @Html.ActionLink("Cancel", "Index", null, htmlAttributes: new { @class = "btn btn-orange" })
        </div>
    }
</div>
