﻿@model IEnumerable<ehpvendingmachine.ClassLibrary.Models.ProductType>

@{
    ViewBag.Title = "List Product Types";
}

<h2>Product Types</h2>
<div class="text-danger"><h4>@ViewBag.Error</h4></div>

<p>
    @if (User.IsInRole("ProductTypes Create"))
    {
        @Html.ActionLink("Create", "Create", null, htmlAttributes: new { @class = "btn btn-orange" })
    }
</p>
<table id="tabela" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Segment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Segment)
                </td>
                <td>
                    @if (User.IsInRole("ProductTypes Edit"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.ProductTypeId }, htmlAttributes: new { @class = "btn btn-orange" })
                    }
                    @if (User.IsInRole("ProductTypes Delete"))
                    {
                        @Html.ActionLink("Delete", "Delete", new { id = item.ProductTypeId }, htmlAttributes: new { @class = "btn btn-orange" })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    /* Scripte para ordenar tabelas */
    $(document).ready(function () {
        $('#tabela').DataTable({
            paging: false,
            info: false,
            searching: false,
            columnDefs: [
                { orderable: false, targets: [1] }
            ]
        });
    });
</script>
