﻿@model IEnumerable<ehpvendingmachine.ClassLibrary.Models.Change>

@{
    ViewBag.Title = "Changes Reload List";
}

<h2>Changes Reload List</h2>
<h4 class="text-danger">@ViewBag.Error</h4>

@using (Html.BeginForm("Index", "ChangeReloads", FormMethod.Get))
{
    <div class="form-horizontal">
        <div class="form-group">
            @Html.Label("Machine", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("searchMachine", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Search" class="btn btn-orange" />
            </div>
        </div>

    </div>
}

<table id="tabela" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CurrencyValue.Currency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Machine.MachineId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityLimit)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.Quantity <= 10 && item.Quantity > 0)
            {
                <tr>
                    <td class="text-info">
                        @Html.DisplayFor(modelItem => item.CurrencyValue.Currency)
                    </td>
                    <td class="text-info">
                        @Html.DisplayFor(modelItem => item.Machine.MachineId)
                    </td>
                    <td class="text-info">
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td class="text-info">@Html.DisplayFor(modelItem => item.QuantityLimit)
                    </td>
                    <td class="text-info">
                        @if (User.IsInRole("ChangeReloads Edit"))
                        {
                            @Html.ActionLink("Reload", "Edit", new { id = item.ChangeId }, htmlAttributes: new { @class = "btn btn-orange" })
                        }
                    </td>
                </tr>
            }
            else if (item.Quantity == 0)
            {
                <tr>
                    <td class="text-danger">
                        @Html.DisplayFor(modelItem => item.CurrencyValue.Currency)
                    </td>
                    <td class="text-danger">
                        @Html.DisplayFor(modelItem => item.Machine.MachineId)
                    </td>
                    <td class="text-danger">
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td class="text-danger">
                        @Html.DisplayFor(modelItem => item.QuantityLimit)
                    </td>
                    <td class="text-danger">
                        @if (User.IsInRole("ChangeReloads Edit"))
                        {
                            @Html.ActionLink("Reload", "Edit", new { id = item.ChangeId }, htmlAttributes: new { @class = "btn btn-orange" })
                        }
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CurrencyValue.Currency)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Machine.MachineId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuantityLimit)
                    </td>
                    <td>
                        @if (User.IsInRole("ChangeReloads Edit"))
                        {
                            @Html.ActionLink("Reload", "Edit", new { id = item.ChangeId }, htmlAttributes: new { @class = "btn btn-orange" })
                        }
                    </td>
                </tr>
            }
        }


    </tbody>
</table>

<script>
    /* Scripte para ordenar tabelas */
    $(document).ready(function () {
        $('#tabela').DataTable({
            paging: false,
            info: false,
            searching: false,
            columnDefs: [
                { orderable: false, targets: [4] }
            ]
        });
    });
</script>