﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ehp Vending Machine</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")


    @*Link's DataTanles*@
    <link rel="stylesheet" type="text/css" href="~/DataTables/datatables.min.css" />
    <script type="text/javascript" src="~/DataTables/datatables.min.js"></script>

    @Styles.Render("~/Content/csscustom")

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
</head>
<body onload="myFunction()">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ehp Vending Machine", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!-- MENU Dashboard -->
                    @if (User.IsInRole("Admin") || User.IsInRole("User"))
                    {
                        <li>@Html.ActionLink("DashBoard", "Index", "DashBoards")</li>
                    }
                    <!-- FIM MENU Dashboard -->
                    <!-- MENU MACHINES -->
                    @if (User.IsInRole("Machines Group"))
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Machines <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                @if (User.IsInRole("Capacities"))
                                {
                                    <li>@Html.ActionLink("Capacities", "Index", "Capacities")</li>
                                }
                                @if (User.IsInRole("Machines"))
                                {
                                    <li>@Html.ActionLink("Machines", "Index", "Machines")</li>
                                }
                                @if (User.IsInRole("CurrencyValues"))
                                {
                                    <li>@Html.ActionLink("Currency Values", "Index", "CurrencyValues")</li>
                                }
                                @if (User.IsInRole("Changes"))
                                {
                                    <li>@Html.ActionLink("Changes", "Index", "Changes")</li>
                                }
                                @if (User.IsInRole("ProductsMachine"))
                                {
                                    <li>@Html.ActionLink("Products Machines", "Index", "ProductsMachines")</li>
                                }
                                @if (User.IsInRole("AssignMachines"))
                                {
                                    <li>@Html.ActionLink("Assign Machines", "Index", "AssignMachines")</li>
                                }

                                @if (User.IsInRole("ProductsMachine Reload"))
                                {
                                    <li>@Html.ActionLink("Reload Products Machines", "Index", "ProductReloads")</li>
                                }
                                @if (User.IsInRole("ChangeReloads"))
                                {
                                    <li>@Html.ActionLink("Reload Changes Machines", "Index", "ChangeReloads")</li>
                                }
                            </ul>
                        </li>
                    }
                    <!-- FIM MENU MACHINES -->
                    <!-- MENU ALERT -->
                    @if (User.IsInRole("Alerts Group"))
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Alerts <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                @if (User.IsInRole("HistoricAlerts"))
                                {
                                    <li>@Html.ActionLink("Historic Alert", "Index", "HistoricAlerts")</li>
                                }
                            </ul>
                        </li>
                    }
                    <!-- FIM MENU ALERT -->
                    <!-- MENU PRODUCTS -->
                    @if (User.IsInRole("Products Group"))
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Products <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                @if (User.IsInRole("ProductTypes"))
                                {
                                    <li>@Html.ActionLink("Product Types", "Index", "ProductTypes")</li>
                                }
                                @if (User.IsInRole("Products"))
                                {
                                    <li>@Html.ActionLink("Product", "Index", "Products")</li>
                                }
                            </ul>
                        </li>
                    }
                    <!-- FIM MENU PRODUCTS -->
                    <!-- MENU USERS -->
                    @if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Users", "Index", "Users")</li>
                    }
                    <!-- FIM MENU USERS -->
                    <!-- MENU SELL -->
                    @if (User.IsInRole("Sells"))
                    {
                        <li>@Html.ActionLink("Sell", "Index", "Sells")</li>
                    }
                    <!-- FIM MENU SELL -->
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ehp Vending Machine</p>
        </footer>
       
    </div>

    
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
