﻿@model ehpvendingmachine.ClassLibrary.Models.IndexViewModel
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>
<div class="text-danger"><h4>@ViewBag.Error</h4></div>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>

        @if (User.IsInRole("Client"))
        {
            <dt>Personal Details:</dt>
            <dd>
                [ @Html.ActionLink("Change your Details", "Edit", "Users", new { userid = User.Identity.GetUserId() }, null)]
            </dd>


            <dt>Assign Machine:</dt>
            <dd>@ViewBag.CountAssign</dd>

            <dt>Request Machine:</dt>
            <dd>


                @using (Html.BeginForm("Request", "RequestMachines", FormMethod.Post))
                {
                    @ViewBag.CountRequest
                    @Html.AntiForgeryToken()
                    <text>[<input type="submit" value="Request" class="btn-link" />]</text>
                }

            </dd>
        }
    </dl>
</div>
