﻿@model IEnumerable<ehpvendingmachine.ClassLibrary.Models.Capacity>

@{
    ViewBag.Title = "Capacities List";
}

<h2>Capacities List</h2>
<h4 class="text-danger">@ViewBag.Error</h4>

<p>
    @if (User.IsInRole("Capacities Create"))
    {
        @Html.ActionLink("Create New", "Create", null, htmlAttributes: new { @class = "btn btn-orange" })
    }
</p>
<table id="tabela" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @if (User.IsInRole("Capacities Edit"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.CapacityId }, htmlAttributes: new { @class = "btn btn-orange" })
                    }
                    @if (User.IsInRole("Capacities Delete"))
                    {
                        @Html.ActionLink("Delete", "Delete", new { id = item.CapacityId }, htmlAttributes: new { @class = "btn btn-orange" })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    /* Scripte para ordenar tabelas */
    $(document).ready(function () {
        $('#tabela').DataTable({
            paging: false,
            info: false,
            searching: false,
            columnDefs: [
                { orderable: false, targets: [2] }
            ]
        });
    });
</script>
