﻿
/* https://work.smarchal.com/twbscolor/3.3.2/css/f67006df4b09fcfefffbe3cf1 */
body {
    color: #3f3f3f;
}

.navbar {
    background-color: #f67006;
    border-color: #df4b09;
}

    .navbar .navbar-brand {
        color: #fcfeff;
    }

        .navbar .navbar-brand:hover,
        .navbar .navbar-brand:focus {
            color: #fbe3cf;
        }

    .navbar .navbar-text {
        color: #fcfeff;
    }

    .navbar .navbar-nav > li > a {
        color: #fcfeff;
    }

        .navbar .navbar-nav > li > a:hover,
        .navbar .navbar-nav > li > a:focus {
            color: #fbe3cf;
        }

.navbar .navbar-nav > li > a:active {
    background-color: #df4b09;
}

    .navbar .navbar-nav > li > .dropdown-menu {
        background-color: #f67006;
    }

        .navbar .navbar-nav > li > .dropdown-menu > li > a {
            color: #fcfeff;
        }

            .navbar .navbar-nav > li > .dropdown-menu > li > a:hover,
            .navbar .navbar-nav > li > .dropdown-menu > li > a:focus,
            .navbar .navbar-nav > li > .dropdown-menu > li > a:active {
                color: #fbe3cf;
                background-color: #df4b09;
            }

        .navbar .navbar-nav > li > .dropdown-menu > li.divider {
            background-color: #df4b09;
        }


    .navbar .navbar-nav > .active > a,
    .navbar .navbar-nav > .active > a:hover,
    .navbar .navbar-nav > .active > a:focus {
        color: #fbe3cf;
        background-color: #df4b09;
    }

    .navbar .navbar-nav > .open > a,
    .navbar .navbar-nav > .open > a:hover,
    .navbar .navbar-nav > .open > a:focus {
        color: #fbe3cf;
        background-color: #df4b09;
    }

    .navbar .navbar-toggle {
        border-color: #df4b09;
    }

        .navbar .navbar-toggle:hover,
        .navbar .navbar-toggle:focus {
            background-color: #df4b09;
        }

        .navbar .navbar-toggle .icon-bar {
            background-color: #fcfeff;
        }

    .navbar .navbar-collapse,
    .navbar .navbar-form {
        border-color: #fcfeff;
    }

    .navbar .navbar-link {
        color: #fcfeff;
    }

        .navbar .navbar-link:hover {
            color: #fbe3cf;
        }


    .navbar .nav li.dropdown > .dropdown-toggle .caret {
        border-bottom-color: #fcfeff;
        border-top-color: #fcfeff;
    }

    .navbar .nav li.dropdown > .dropdown-toggle:hover .caret {
        border-bottom-color: #fbe3cf;
        border-top-color: #fbe3cf;
    }

a, 
td.api-name a,
.btn-link {
    color: #f67006;
}

    a:hover,
    a:active,
    a:focus,
    .btn-link:hover{
        color: #df4b09;
    }

#map {
    
    width: 100%;
    left: 0;
    height: 350px;
}

#myCarousel {
    margin-top: 20px;
}

.vertical {
    position: relative;
    margin-top: 5%;
    float: left;
    
}


.style13 {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.containerDashboard {
    position: relative;
    margin-top: 40px;
}

@media (max-width: 767px) {
    .navbar .navbar-nav .open .dropdown-menu > li > a {
        color: #fcfeff;
    }

        .navbar .navbar-nav .open .dropdown-menu > li > a:hover,
        .navbar .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #fbe3cf;
        }

    .navbar .navbar-nav .open .dropdown-menu > .active > a,
    .navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #fbe3cf;
        background-color: #df4b09;
    }
}


.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -1px;
    }

/* REMOVER ULTIMA LINHA DATATABLE */
table.dataTable.no-footer {
    border-bottom: 0px solid;
}

/* BOTÕES */
.btn-orange {
    color: #fcfeff;
    background-color: #f67006;
    border-color: #df4b09;
}

    .btn-orange:hover,
    .btn-orange:focus,
    .btn-orange:active,
    .btn-orange.active,
    .open .dropdown-toggle.btn-orange {
        color: #fbe3cf;
        background-color: #f67006;
        border-color: #df4b09;
    }

    .btn-orange:active,
    .btn-orange.active,
    .open .dropdown-toggle.btn-orange {
        background-image: none;
    }

    .btn-orange.disabled,
    .btn-orange[disabled],
    fieldset[disabled] .btn-orange,
    .btn-orange.disabled:hover,
    .btn-orange[disabled]:hover,
    fieldset[disabled] .btn-orange:hover,
    .btn-orange.disabled:focus,
    .btn-orange[disabled]:focus,
    fieldset[disabled] .btn-orange:focus,
    .btn-orange.disabled:active,
    .btn-orange[disabled]:active,
    fieldset[disabled] .btn-orange:active,
    .btn-orange.disabled.active,
    .btn-orange[disabled].active,
    fieldset[disabled] .btn-orange.active {
        background-color: #df4b09;
        border-color: #df4b09;
    }

    .btn-orange .badge {
        color: #fbe3cf;
        background-color: #df4b09;
    }