﻿@model IEnumerable<ehpvendingmachine.ClassLibrary.ViewModels.SellsViewModel>

@{
    ViewBag.Title = "Sells List";
}

<h2>Sells List</h2>

@using (Html.BeginForm("Index", "Sells", FormMethod.Get))
{
    <div class="form-horizontal">
        
        <div class="form-group">
            @Html.Label("Machine", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("searchMachine", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Name:", htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.TextBox("search", null, htmlAttributes: new {@class = "form-control"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Search" class="btn btn-orange"/>
            </div>
        </div>

    </div>
}

<table id="tabela" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Machine.MachineId)
            </th>
            <th>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Sell.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sell.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Machine.MachineId)
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.Product.Image))
                    {


                        <img src="@Url.Content(item.Product.Image)" alt="Image" style="width: 40px; height: 50px; max-width: 40px; height: auto" />


                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sell.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sell.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    /* Scripte para ordenar tabelas */
    $(document).ready(function () {
        $('#tabela').DataTable({
            paging: false,
            info: false,
            searching: false,
            columnDefs: [
                { orderable: false, targets: [1] }
            ]
        });
    });
</script>
