﻿@using Microsoft.AspNet.Identity
@model ehpvendingmachine.ClassLibrary.Models.RequestMachine

@{
    ViewBag.Title = "Request";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Request Machine</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">

           
            @Html.Hidden("UserId", User.Identity.GetUserId())


        </div>

        <div class="form-group">

                    @Html.Hidden("Assigned",false)
                   
           
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Request" class="btn btn-orange" />
                @Html.ActionLink("Cancel", "Index", "Manage", null, htmlAttributes: new { @class = "btn btn-orange" })
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
