﻿@model IEnumerable<ehpvendingmachine.ClassLibrary.Models.UserModel>

@{
    ViewBag.Title = "Users List";
}

<h2>Users List</h2>
<div class="text-danger"><h4>@ViewBag.Error</h4></div>

<p>
    @if (User.IsInRole("Users Create"))
    {
        @Html.ActionLink("Create Users", "Register", "Account", null, htmlAttributes: new { @class = "btn btn-orange" })
    }
</p>
<table id="tabela" class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserType)
                </td>
                <td>
                    @if (User.IsInRole("Users Edit"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { userid = item.UserId }, htmlAttributes: new { @class = "btn btn-orange" })
                    }
                    @if (User.IsInRole("Users View"))
                    {
                        @Html.ActionLink("Details", "Details", new { userid = item.UserId }, htmlAttributes: new { @class = "btn btn-orange" })
                    }
                    @if (User.IsInRole("Users Delete"))
                    {
                        @Html.ActionLink("Delete", "Delete", new { userId = item.UserId }, htmlAttributes: new { @class = "btn btn-orange" })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    /* Scripte para ordenar tabelas */
    $(document).ready(function () {
        $('#tabela').DataTable({
            paging: false,
            info: false,
            searching: false,
            columnDefs: [
                { orderable: false, targets: [2] }
            ]
        });
    });
</script>