﻿@model ehpvendingmachine.ClassLibrary.Models.Product

@{
    ViewBag.Title = "Delete Products";
}

<h2>Delete</h2>
<div class="text-danger"><h4>@ViewBag.Error</h4></div>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductType.Segment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductType.Segment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValidityDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValidityDays)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-orange" />
            @Html.ActionLink("Cancel", "Index", null, htmlAttributes: new { @class = "btn btn-orange" })
        </div>
    }
</div>
