﻿@model IEnumerable<ehpvendingmachine.ClassLibrary.Models.Product>

@{
    ViewBag.Title = "List Products";
}

<h2>Products</h2>
<div class="text-danger"><h4>@ViewBag.Error</h4></div>

<p>
    @if (User.IsInRole("Products Create"))
    {
        @Html.ActionLink("New", "Create", null, htmlAttributes: new { @class = "btn btn-orange" })
    }
</p>

@using (Html.BeginForm("Index", "Products", FormMethod.Get))
{
    <div class="form-horizontal">
        <div class="form-group">
            @Html.Label("Product Type", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("searchProductType", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Product", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("searchName", new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Search" class="btn btn-orange" />
            </div>
        </div>

    </div>
}

<table id="tabela" class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ProductType.Segment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValidityDays)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @if (!string.IsNullOrEmpty(item.Image))
                    {


                        <img src="@Url.Content(item.Image)" alt="Image" style="width: 40px; height: auto; max-width: 40px; height: auto" />


                    }
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ProductType.Segment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValidityDays)
                </td>
                <td>
                    @if (User.IsInRole("Products Edit"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }, htmlAttributes: new { @class = "btn btn-orange" })
                    }

                    @if (User.IsInRole("Products Delete"))
                    {
                        @Html.ActionLink("Delete", "Delete", new { id = item.ProductId }, htmlAttributes: new { @class = "btn btn-orange" })
                    }

                </td>
            </tr>
        }
    </tbody>

</table>

<script>
    /* Scripte para ordenar tabelas */
    $(document).ready(function () {
        $('#tabela').DataTable({
            paging: false,
            info: false,
            searching: false,
            columnDefs: [
                { orderable: false, targets: [5] }
            ]
        });
    });
</script>
